<!DOCTYPE html>
<html lang="pl">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
    <meta charset="UTF-8">
    <title>AnimalsForClient</title>
</head>

<body>
<table id="animals-table">
    <tr>
        <th colspan="5" class="table-header">WSZYSTKIE ZWIERZĘTA</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Typ zwierzęcia</th>
        <th>Płeć</th>
        <th>Wielkość zwierzęcia</th>
    </tr>
    <tr th:each="animal: ${client.animals}">
        <td th:text="${animal.id}" />
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.type.label}"/>
        <td th:text="${animal.sex.label}"/>
        <td th:text="${animal.size.label}"/>
    </tr>
</table>
<section id="WRÓĆ" class="section-button">
    <form action="/adminpanel/allClients" method="get">
        <button type="submit">Wróć</button>
    </form>
</section>

</section>
</body>
</html>