<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rezerwacja Zwierzaka</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var radioButtons = document.querySelectorAll('input[type="radio"]');
            var searchButton = document.querySelector('button[type="submit"]');

            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener('change', function () {
                    searchButton.disabled = !document.querySelector('input[name="selectedAnimal"]:checked');
                });
            });
        });
    </script>
</head>
<body>

<form th:action="@{/clientpanel/search}" method="post" th:object="${searchQuery}">
    <h2>Wybierz zwierzaka, dla którego chcesz dokonać rezerwacji:</h2>

    <!-- Iteracja przez listę zwierzaków użytkownika z użyciem radiobuttons -->
    <div th:if="${clientAnimals != null and not #lists.isEmpty(clientAnimals)}">

        <select th:field="*{selectedAnimalId}">
            <option th:each="animal : ${clientAnimals}" th:value="${animal.getId()}" th:text="${animal.getName()}">
            </option>
        </select>

        <select th:field="*{standard}">
            <option th:each="standard : ${availableStandards}" th:value="${standard}" th:text="${standard.name()}"></option>
        </select>

        <input type="date" name="reservationStartDate" />
        <input type="date" name="reservationEndDate" />

        <!-- Przycisk "Szukaj" - aktywowany po wyborze zwierzaka -->
        <section>
            <button type="submit">Szukaj</button>
        </section>
    </div>

    <div th:if="${clientAnimals == null or #lists.isEmpty(clientAnimals)}">
        <p>Aby zarezerwować pokój, musisz najpierw dodać swojego zwierzaka do systemu.</p>
    </div>

</form>

</body>
</html>