<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
  <meta charset="UTF-8"/>
  <title>Wyniki Twojego wyszukiwania</title>
</head>
<div id="result-label">
<label th:text="'Szukasz pokoju dla '+ ${animalName} +' na '+ ${durationInDays} + ' dni'"></label>
</div>
<body>
<table id="animals-table">
<!-- Sprawdzenie, czy istnieją pokoje do wyświetlenia -->
<div th:if="${not #lists.isEmpty(roomPrices)}">

    <thead>
    <tr>
      <th>ID</th>
      <th>Pokój</th>
      <th>Opis</th>
      <th>Sandard pokoju</th>
      <th>Jakie zwierzeta sa przyjmowane</th>
      <th>Cena za noc</th>
      <th>Całkowita cena</th> <!-- Nowa kolumna z ceną pokoju -->
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="roomPrice, index : ${roomPrices}">
      <td th:text="${roomPrice.getRoom().getId()}"></td>
      <td th:text="${roomPrice.getRoom().getName()}"></td>
      <td th:text="${roomPrice.getRoom().getDescription()}"></td>
      <td th:text="${roomPrice.getRoom().getStandard()}"></td>
        <td>
            <ul>
                <li th:each="size : ${roomPrice.getRoom().getAllowedAnimalSizes()}" th:text="${size.label}"></li>
            </ul>
        </td>
      <td th:text="${roomPrice.getRoom().getCostPerNight()}"></td>
      <td th:text="${roomPrice.getPrice()}"></td> <!-- Dodana kolumna z ceną pokoju -->
      <td>
        <a th:href="@{/clientpanel/create(animalId=${searchQuery.getSelectedAnimalId()}, roomId=${roomPrice.getRoom().getId()}, reservationStartDate=${searchQuery.getReservationStartDate()}, reservationEndDate=${searchQuery.getReservationEndDate()},durationInDays=${durationInDays}, totalPrice=${roomPrice.getPrice()})}">

          <button>Wybierz</button>
        </a>
      </td>

    </tr>
    </tbody></div>
  </table>
</div>

<!-- Komunikat o braku wyników -->
<div id="results-label">
<div th:if="${#lists.isEmpty(roomPrices)}">
  <p>Niestety brak wyników wyszukiwania.</p>
</div>
</div>

  <section id="wroc" class="section-button">
    <button onclick="location.href='/clientpanel'">Wróć</button>
  </section>

</body>
</html>