<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Formularz Dodawania Animala</title>
</head>
<body>

<h2>Dodaj nowego zwierzaka</h2>

<form th:action="@{'/clientpanel/clientAnimals/client/' + ${clientEmail} + '/addAnimal'}" method="post" th:object="${newAnimal}">
    <label for="name">Imię:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required/>

    <label for="type">Rodzaj:</label>
    <select id="type" name="type" th:field="*{type}" required>
        <option th:each="animalType : ${T(com.hotel.pethotel.model.Type).values()}"
                th:value="${animalType}" th:text="${#strings.capitalize(animalType.name())}">
        </option>
    </select>

    <label for="size">Rozmiar:</label>
    <select id="size" name="size" th:field="*{size}" required>
        <option th:each="animalSize : ${T(com.hotel.pethotel.model.AnimalSize).values()}"
                th:value="${animalSize}" th:text="${#strings.capitalize(animalSize.name())}">
        </option>
    </select>

    <label for="sex">Płeć:</label>
    <select id="sex" name="sex" th:field="*{sex}" required>
        <option th:each="animalSex : ${T(com.hotel.pethotel.model.Sex).values()}"
                th:value="${animalSex}" th:text="${#strings.capitalize(animalSex.name())}">
        </option>
    </select>

    <!-- Assuming ClientModel is a complex object -->
    <!--
    <label for="clientName">Opiekun:</label>
    <input type="text" id="clientName" name="clientName" th:field="*{client.name}" required/>
    -->

    <!-- Add more fields for other properties if needed -->

    <button type="submit">Dodaj Nowego Zwierzaka</button>
</form>

</body>
</html>
