<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>


</head>


<body>
<h1></h1>
<table id="animals-table">
    <tr>
        <th colspan="6" class="table-header">TWOJE ZWIERZĘTA</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Typ zwierzęcia</th>
        <th>Płeć</th>
        <th>Wielkość zwierzęcia</th>
        <th>Akcje</th>

    </tr>
    <tr th:each="animal: ${clientAnimals}">
        <td th:text="${animal.id}"/>
        <td th:text="${animal.name}"/>
        <td th:text="${animal.type.label}"/>
        <!--       tutaj mozna dodac label ustawiony na enumie i wyswietli sie wtedy pies, kot a nie DOG CAT <td th:text="${animal.type.getLabel()}" />-->
        <td th:text="${animal.sex.label}"/>
        <td th:text="${animal.size.label}"/>
<!--        <td><a th:href="@{/clientpanel/clientAnimals/editanimal/{id}(id=${animal.id})}">Edytuj</a>-->
<!--            <button th:onclick="confirmDelete([[${animal.id}]])">Usuń</button>-->
<!--        </td>-->
        <td>
            <a th:href="@{/clientpanel/clientAnimals/editanimal/{id}(id=${animal.id})}" style="text-decoration: none; font-weight: bold; color: black;">Edytuj</a>
            <a th:href="@{'/clientpanel/clientAnimals/deleteAnimal/' + ${animal.id}}" style="text-decoration: none; font-weight: bold; color: black;">Usuń</a>

        </td>
    </tr>
</table>
<!--<script>-->
<!--    function confirmDelete(animalId) {-->
<!--        var result = confirm("Czy na pewno chcesz usunąć zwierzaka?");-->
<!--        if (result) {-->
<!--            // Tutaj możesz umieścić kod do wysłania żądania usunięcia-->
<!--            console.log(animalId)-->
<!--            window.location.href = "/clientpanel/clientAnimals/deleteAnimal/" + parseInt(animalId);-->
<!--        }-->
<!--    }-->
<!--</script>-->

<section id="DODAJ" class="section-button">
    <form action="/clientpanel/clientAnimals/addAnimal" method="get">
        <button type="submit">Dodaj zwierzaka</button>
    </form>
</section>

<section id="WRÓĆ" class="section-button">
    <form action="/clientpanel" method="get">
        <button type="submit">Wróć</button>
    </form>
</section>

</body>
</html>
