<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles.css">
<head>
</head>
<body>
<div id="form-container">
<h1 style="text-align: center;">Edytuj Dane Osobowe</h1>

<form th:action="@{'/clientpanel/personalData/editPersonal'}" method="post">

    <div class="form-group">
    <label for="surname">Nazwisko:</label>
    <input type="text" id="surname" name="surname" th:value="${user.surname}" />
    </div>

    <div class="form-group">
    <label for="phone">Telefon:</label>
        <input type="text" id="phone" name="phone" th:value="${user.phone}" pattern="[0-9]*" />
    </div>

    <div class="form-group section-button">
        <button type="submit">Zapisz zmiany</button>
    </div>



    <section id="wroc" class="section-button">
        <form action="/clientpanel" method="get">
            <button type="submit">Wróć</button>
        </form>
    </section>
</form>
</div>
</body>
</html>
