<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
    <meta charset="UTF-8">
    <title>Personal Data</title>

</head>
<body>
<h1 style="text-align: center;">Twoje dane osobowe</h1>

<table id="animals-table">
    <tr>
        <th class="table-header">Atrybut</th>
        <th class="table-header">Wartość</th>
    </tr>

    <tr>
        <td>Id</td>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <td>Imię</td>
        <td th:text="${user.name}"></td>
    </tr>
    <tr>
        <td>Nazwisko</td>
        <td th:text="${user.surname}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${user.email}"></td>
    </tr>
    <tr>
        <td>Telefon</td>
        <td th:text="${user.phone}"></td>
    </tr>
</table>


<section id="edit" class="section-button">
    <form action="/clientpanel/personalData/editPersonal" method="get">
        <button type="submit" class="edit-button">Edytuj</button>
    </form>
</section>
<section id="wroc" class="section-button">
    <form action="/clientpanel" method="get">
        <button type="submit" class="back-button">Wróć do panelu klienta</button>
    </form>
</section>
</body>
</html>
