<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <table id="animals-table">
            <tr>
                <th colspan="7" class="table-header">WSZYSCY UŻYTKOWNICY</th>
            </tr>

            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Numer telefonu</th>
                <th>Zwierzęta</th>
                <th>Rezerwacje</th>
            </tr>
            <tr th:each="client: ${clients}">
                <td th:text="${client.id}" />
                <td th:text="${client.name}" />
                <td th:text="${client.surname}" />
                <td th:text="${client.email}" />
                <td th:text="${client.phone}" />
                  <td>
                      <a th:text="Zwierzęta" th:href="@{/adminpanel/client/{id}(id=${client.id})}" style="text-decoration: none; font-weight: bold; color: black;">
<!--                         th:href="@{/adminpanel/sth}">-->

<!--                         -->

<!--                              th:text="${client.id}"-->

<!--                          <form method="get" -->

<!--                      <form method="get" action='<c:url value="/client/${client.id}"/>'>-->
<!--                          <form method="get" th:action="/client/${client.id}">'>-->
<!--                      form method="get" th:href="@{/client/${client.id}}">-->
<!-- method="get" action='<c:url value="/client/${client.id}"/>'>&ndash;&gt;-->
<!--                    '<c:url value="/editStudent/${student.id}"/>'-->
<!--                    <form method="post" action='<c:url value="/editStudent/${student.id}"/>'>-->
<!--                    <button type="submit">Zwierzęta</button>-->
                </a>
<!--                          </form>-->
                  </td>
                <td>
                    <a th:text="Rezerwacje" th:href="@{/adminpanel/client/{id}/reservations(id=${client.id})}" style="text-decoration: none; font-weight: bold; color: black;">
<!--                        <button type="submit">Zwierzęta</button>-->
                    </a>
                    <!--                          </form>-->
                </td>
            </tr>
        </table>
    </section>


    <section id="WRÓĆ" class="section-button">
        <form action="/adminpanel" method="get">
            <button type="submit">Wróć</button>
        </form>
    </section>

</body>
</html>