<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles.css">
<head>
    <meta charset="UTF-8">
    <title>Potwierdź Usunięcie Rezerwacji</title>
</head>
<body>
<div id="form-container">
<h1>Czy na pewno chcesz usunąć rezerwację?</h1>
    <div class="form-group section-button">
<form th:action=<form th:action="@{'/deleteReservation/deleteReservationConfirm/'+${reservation.id}}" method="post">
    <button type="submit">Tak, usuń</button>
    <a th:href="@{'/adminpanel/clientAnimals'}">Anuluj</a>
</form>
    </div>
</div>
</body>
</html>