<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edycja Pokoju</title>
</head>
<body>

<h2>Edycja Pokoju</h2>

<form th:action="@{'/adminpanel/editroom/'+${editRoom.id}}" method="post" th:object="${editRoom}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required/>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required/>

    <label for="standard">Standard:</label>
    <!--    Wyrażenie T(com.hotel.pethotel.model.Standard) odnosi się do klasy enum Standard, a values() zwraca tablicę wszystkich stałych enuma.-->
    <select id="standard" name="standard" required>
        <option th:each="option : ${T(com.hotel.pethotel.model.Standard).values()}"
                th:value="${option}" th:text="${option}">
        </option>
    </select>
    <label for="animalSize">Animal Size:</label>
    <select id="animalSize" name="animalSize" multiple="multiple" th:field="*{animalSize}" required>
        <option value="SMALL">Small</option>
        <option value="MEDIUM">Medium</option>
        <option value="LARGE">Large</option>
        <!-- Dodaj inne opcje w zależności od dostępnych rozmiarów zwierząt -->
    </select>
    <label for="active">Active:</label>
    <input type="checkbox" id="active" name="active" th:field="*{active}"/>
    <button type="submit">Zapisz zmiany</button>
</form>

</body>
</html>