<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        /* Styl dla tabeli */
        table {
            border-collapse: collapse;
            width: 50%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th.table-header {
            font-size: 18px;
            text-align: center;
        }

        .edit-form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Twoje dane osobowe</h1>

<table>
    <tr>
        <th class="table-header">Atrybut</th>
        <th class="table-header">Wartość</th>
        <th class="table-header">Edycja</th>
    </tr>
    <tr>
        <td>Id</td>
        <td th:text="${user.id}"></td>
        <td></td>
    </tr>
    <tr>
        <td>Imię</td>
        <td>
            <span th:text="${user.name}" th:unless="${editMode}"></span>
            <input type="text" th:if="${editMode}" th:field="*{name}" />
        </td>
        <td>
            <button th:unless="${editMode}" th:onclick="${'#editName' + ' input'}.focus()">Edytuj</button>
            <button th:if="${editMode}" th:onclick="|saveChanges('${editModeAttr}', 'name')|">Zapisz</button>
        </td>
    </tr>
    <tr>
        <td>Nazwisko</td>
        <td>
            <span th:text="${user.surname}" th:unless="${editMode}"></span>
            <input type="text" th:if="${editMode}" th:field="*{surname}" />
        </td>
        <td>
            <button th:unless="${editMode}" th:onclick="${'#editSurname' + ' input'}.focus()">Edytuj</button>
            <button th:if="${editMode}" th:onclick="|saveChanges('${editModeAttr}', 'surname')|">Zapisz</button>
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${user.email}"></td>
        <td></td>
    </tr>

    <tr>
        <td>Telefon</td>
        <td>
            <span th:text="${user.phone}" th:unless="${editMode}"></span>
            <input type="text" th:if="${editMode}" th:field="*{phone}" />
        </td>
        <td>
            <button th:unless="${editMode}" th:onclick="${'#editPhone' + ' input'}.focus()">Edytuj</button>
            <button th:if="${editMode}" th:onclick="|saveChanges('${editModeAttr}', 'phone')|">Zapisz</button>
        </td>
    </tr>


</table>

<section id="wróć">
    <form action="/clientpanel" method="get">
        <button type="submit">Wróć</button>
    </form>
</section>



</body>
</html>
