<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lista Pokoi</title>
</head>
<body>

<h2>Lista Pokoi</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Room standard</th>
        <th>Animal Size</th>
        <th>Is Active</th>
        <th>Is reserved</th>
        <th>Akcje</th> <!-- Dodana kolumna dla przycisków "Edytuj" i "Usuń" -->
    </tr>
    </thead>
    <tbody>
    <!-- Iteracja przez listę pokoi i generowanie wierszy tabeli -->
    <tr th:each="room : ${rooms}">
        <td th:text="${room.getId()}"></td>
        <td th:text="${room.getName()}"></td>
        <td th:text="${room.getDescription()}"></td>
        <td th:text="${room.getStandard()}"></td>
        <td th:text="${room.getAnimalSize()}"></td>
        <td th:text="${room.getActive()} ? 'Yes' : 'No'"></td>
<!--        jesli dlugosc seta jest >0 wyswietla sie Yes, w przeciwnym wypadku wysietla sie No.-->
        <td th:text="${#lists.size(room.reservations) > 0 ? 'Yes' : 'No'}"></td>
        <td>
            <a th:href="@{'/adminpanel/editroom/' + ${room.getId()}}"
               th:attr="data-id=${room.getId()}">
                <button>Edytuj</button>
            </a>

        </td>
    </tr>
    </tbody>
</table>

<!-- Dodany przycisk "Dodaj Pokój" -->
<button onclick="location.href='/adminpanel/addroom'">Dodaj Pokój</button>


</body>
</html>