<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Formularz wyszukiwania wolnego pokoju</title>
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <style>
        .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    </style>
    <script>
        $(function () {
            $("#dataPrzybycia").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 0, // Dzisiaj i później
                onSelect: function (selectedDate) {
                    $("#dataWyjazdu").datepicker("option", "minDate", selectedDate);
                    $("#dataPrzybycia").siblings(".error-message").text("");
                }
            });

            $("#dataWyjazdu").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 0, // Dzisiaj i później
                onSelect: function (selectedDate) {
                    $("#dataPrzybycia").datepicker("option", "maxDate", selectedDate);
                    $("#dataWyjazdu").siblings(".error-message").text("");
                }
            });
        });
    </script>
</head>
<body>

<h2>Formularz wyszukiwania wolnego pokoju</h2>

<form action="/wyniki-wyszukiwania" method="get" onsubmit="return validateForm()">
    <label for="wielkosćZwierzecia">wielkosć zwierzecia:</label>
    <select id="wielkosćZwierzecia" name="wielkosćZwierzecia">
        <option value="mały">mały - do 5 kg</option>
        <option value="średni">od 5-15 kg </option>
        <option value="duży">od 15,1 - 20 kg</option>
    </select>

    <label for="standardPokoju">Standard pokoju:</label>
    <select id="standardPokoju" name="standardPokoju">
        <option value="zwykly">Zwykły</option>
        <option value="comfort">Comfort</option>
        <option value="lux">Lux</option>
    </select>

    <label for="dataPrzybycia">Data przybycia:</label>
    <input type="text" id="dataPrzybycia" name="dataPrzybycia" required/>
    <div class="error-message"></div>

    <label for="dataWyjazdu">Data wyjazdu:</label>
    <input type="text" id="dataWyjazdu" name="dataWyjazdu" required/>
    <div class="error-message"></div>

    <button type="submit">Potwierdź</button>
</form>

<script>
    function validateForm() {
        var dataPrzybycia = $("#dataPrzybycia").datepicker("getDate");
        var dataWyjazdu = $("#dataWyjazdu").datepicker("getDate");

        if (dataPrzybycia && dataWyjazdu && dataPrzybycia >= dataWyjazdu) {
            $("#dataPrzybycia").siblings(".error-message").text("Data przybycia musi być wcześniejsza niż data wyjazdu!");
            return false; // Przerwij wysyłanie formularza
        }

        return true; // Wyślij formularz
    }
</script>

</body>
</html>
