<!DOCTYPE html>
<html lang="pl">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<body>

<section>
    <table id="animals-table">
        <tr>
            <th colspan="9" class="table-header">MOJE REZERWACJE</th>
        </tr>

        <tr>
            <th>ID</th>
            <th>Numer Rezerwacji</th>
            <th>Pokój</th>
            <th>Dla kogo</th>
            <th>Data Rozpoczęcia</th>
            <th>Data Zakończenia</th>
            <th>Cena</th>
            <th>Status Rezerwacji</th>
        </tr>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}"></td>
            <td th:text="${reservation.reservationNumber}"></td>
            <td th:text="${reservation.room.getName()}"></td>
            <td th:text="${reservation.animal.getName()}"></td>
            <td th:text="${reservation.startDate}"></td>
            <td th:text="${reservation.endDate}"></td>
            <td th:text="${reservation.price}"></td>
            <td th:text="${reservation.reservationStatus}"></td>
        </tr>
    </table>
</section>

<section id="Wróć" class="section-button">
<!--    <a th:href="@{/adminpanel/client/{id}(id=${client.id})}" class="button">Wróć</a>-->
    <form action="/adminpanel/allClients" method="get">
        <button type="submit">Wróć</button>
    </form>
</section>

</body>
</body>
</html>