<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="animals-table">
    <tr>
        <th colspan="7" class="table-header">MOJE REZERWACJE</th>
    </tr>

    <tr>
        <th>ID</th>
        <th>Numer Rezerwacji</th>
        <th>Pokój</th>
        <th>Dla kogo</th>
        <th>Data Rozpoczęcia</th>
        <th>Data Zakończenia</th>
        <th>Cena</th>
        <th>Status Rezerwacji</th>
    </tr>
    <tr th:each="reservation : ${clientReservations}">
        <td th:text="${reservation.id}"></td>
        <td th:text="${reservation.reservationNumber}"></td>
        <td th:text="${reservation.room.getName()}"></td>
        <td th:text="${reservation.animal != null ? reservation.animal.name : ''}"></td>
        <td th:text="${reservation.startDate}"></td>
        <td th:text="${reservation.endDate}"></td>
        <td th:text="${reservation.price}"></td>
        <td th:text="${reservation.reservationStatus}"></td>
    </tr>
</table>

<section id="wroc" class="section-button">
    <form action="/clientpanel" method="get">
        <button type="submit">Wróć</button>
    </form>
</section>
</body>
</html>