<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
    <meta charset="UTF-8">
    <title>Wyniki wyszukiwania rezerwacji</title>
</head>
<body>
<div id="form-container">


    <table id="animals-table">
        <tr>
            <th colspan="9" class="table-header">Wyniki wyszukiwania rezerwacji</th>
        </tr>

    <tr>
        <th>ID</th>
        <th>Numer rezerwacji</th>
        <th>Data rozpoczęcia</th>
        <th>Data zakończenia</th>
        <th>Cena</th>
        <th>Status rezerwacji</th>
        <th>Pokój</th>
        <th>Właściciel</th>
        <th>Zwierzęta</th>
    </tr>
    <tbody>
    <tr th:each="reservation : ${filteredReservations}">
        <td th:text="${reservation.id}"></td>
        <td th:text="${reservation.reservationNumber}"></td>
        <td th:text="${reservation.startDate}"></td>
        <td th:text="${reservation.endDate}"></td>
        <td th:text="${reservation.price}"></td>
        <td th:text="${reservation.reservationStatus}"></td>
        <td th:if="${reservation.room != null}" th:text="${reservation.room.name}"></td>
        <td th:if="${reservation.client != null}" th:text="${reservation.client.name}"></td>
        <td>
            <span th:if="${reservation.animal != null}">
                <span th:each="animal : ${reservation.animal}" th:text="${animal.name + ' '}"></span>
            </span>
        </td>

    </tr>
    </tbody>

</table>
    <section id="WRÓĆ" class="section-button">
        <form action="/adminpanel/allReservations" method="get">
            <button type="submit">Wróć</button>
        </form>
    </section>
</div>
</body>
</html>
