<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Podsumowanie Rezerwacji</title>
</head>
<body>

<h2>Podsumowanie Rezerwacji</h2>

<!-- Wyświetlenie informacji o rezerwacji -->
<p>Rezerwujesz pokój: <span th:text="${room.getName()}"></span></p>
<p>Dla: <span th:text="${animal.getName()}"></span></p>
<ul>
    <li>Data przyjazdu: <span th:text="${reservationStartDate}"></span></li>
    <li>Data wyjazdu: <span th:text="${reservationEndDate}"></span></li>
    <li>Ilość dni: <span th:text="${duration}"></span></li>
    <li>Cena za dzień: <span th:text="${room.getCostPerNight()}"></span></li>
    <li>Cena całkowita: <span th:text="${totalPrice}"></span></li>
</ul>

<!-- Przycisk Rezerwuj -->
<form th:action="@{/clientpanel/create}" method="post" th:object="${request}">
    <input type="hidden" name="animalId" th:value="${animal.getId()}" />
    <input type="hidden" name="roomId" th:value="${room.getId()}" />
    <input type="hidden" name="startDate" th:value="${reservationStartDate}" />
    <input type="hidden" name="endDate" th:value="${reservationEndDate}" />
    <button type="submit">Rezerwuj</button>
</form>

<!-- Przycisk Powrót do panelu klienta -->
<button onclick="location.href='/clientpanel'">Powrót do panelu klienta</button>

</body>
</html>