<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles-tables.css">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie rezerwacje</title>
</head>
<body>

<div id="form-container">
    <div class="search-panel">
        <form th:action="@{/adminpanel/allReservations/filteredreservations}" method="get">
            <div class="form-group">
                <div id="result-label">
                    Status rezerwacji:
                </div>
            </div>
            <select id="status-table" name="status">
                <option value="">Wszystkie</option>
                <option value="CONFIRMED">CONFIRMED</option>
                <option value="CANCELLED">CANCELLED</option>
                <option value="PENDING">PENDING</option>
            </select>
    </div>
    <section id="se" class="section-button">
        <button type="submit">Szukaj</button>
    </section>
    </form>
</div>
<table id="animals-table">
    <tr>
        <th colspan="10" class="table-header">Wszystkie rezerwacje</th>
    </tr>

    <tr>
        <th>ID</th>
        <th>Numer rezerwacji</th>
        <th>Data rozpoczęcia</th>
        <th>Data zakończenia</th>
        <th>Zwierzęta</th>
        <th>Cena</th>
        <th>Status rezerwacji</th>
        <th>Pokój</th>
        <th>Właściciel</th>
        <th>Akcje</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.id}"></td>
        <td th:text="${reservation.reservationNumber}"></td>
        <td th:text="${reservation.startDate}"></td>
        <td th:text="${reservation.endDate}"></td>
        <td>
            <span th:if="${reservation.animal != null}" th:text="${reservation.animal.name}"></span>
        </td>
        <td th:text="${reservation.price}"></td>
        <td th:text="${reservation.reservationStatus}"></td>
        <td>
            <span th:if="${reservation.room != null}" th:text="${reservation.room.name}"></span>
        </td>
        <td>
            <span th:if="${reservation.client != null}" th:text="${reservation.client.email + ' ' + reservation.client.name+' ' + reservation.client.surname}"></span>
        </td>
        <td>
            <a th:text="Edytuj" th:href="@{'/adminpanel/editReservation/' + ${reservation.id}}" style="text-decoration: none; font-weight: bold; color: black;"></a>

            <form th:if="${reservation.reservationStatus.name()=='CANCELLED'}" th:action="@{'/adminpanel/deleteReservation/'+ ${reservation.id}}" th:method="delete">
                <button>Usuń</button> </form>
        </td>

    </tr>
</table>
<section id="WRÓĆ" class="section-button">
    <form action="/adminpanel" method="get">
        <button type="submit">Wróć</button>
    </form>
</section>
<!--<script>-->
<!--    function confirmDelete(id) {-->
<!--        var result = confirm("Czy na pewno chcesz usunąć rezerwację?");-->
<!--        if (result) {-->
<!--            window.location.href = "/adminpanel/allReservations";-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>