<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Szczegóły Pokoju</title>
</head>
<body>

<h2>Szczegóły Pokoju</h2>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Wyszukiwanie</title>
</head>
<body>
<!-- Wyświetlenie wartości durationInDays -->
<h2 th:text="${durationInDays}"></h2>
<!-- Sprawdzenie, czy istnieją pokoje do wyświetlenia -->
<div th:if="${not #lists.isEmpty(roomPrices)}">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Room standard</th>
            <th>Animal Size</th>
            <th>Cost per Night</th>
            <th>Room Price</th> <!-- Nowa kolumna z ceną pokoju -->
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${room.getId()}"></td>
            <td th:text="${room.getName()}"></td>
            <td th:text="${room.getDescription()}"></td>
            <td th:text="${room.getStandard()}"></td>
            <td th:text="${room.getAllowedAnimalSizes()}"></td>
            <td th:text="${room.getCostPerNight()}"></td>
            <td th:text="${animal.getId()}"></td>


           <!-- Dodana kolumna z ceną pokoju -->
            <td>
                <!--        <a th:href="@{'/clientpanel/searcher' + ${roomPrice.getRoom().getId()}}"-->
                <!--           th:attr="data-id=${roomPrice.getRoom().getId()}">-->
                <!--          <button>Rezerwuj</button>-->
                <!--        </a>-->

                <a >
                    <button>Wybierz</button>
                </a>
            </td>
            <!--    <tr th:each="room, index : ${rooms}">-->
            <!--      <td th:text="${room.getId()}"></td>-->
            <!--      <td th:text="${room.getName()}"></td>-->
            <!--      <td th:text="${room.getDescription()}"></td>-->
            <!--      <td th:text="${room.getStandard()}"></td>-->
            <!--      <td th:text="${room.getAllowedAnimalSizes()}"></td>-->
            <!--      <td th:text="${room.getCostPerNight()}"></td>-->
            <!--      <td th:text="${#strings.toString(roomPrices[__${index.index}__])}"></td> &lt;!&ndash; Dodana kolumna z ceną pokoju &ndash;&gt;-->
            <!--      <td>-->
            <!--        <a th:href="@{'/clientpanel/searcher' + ${room.getId()}}"-->
            <!--           th:attr="data-id=${room.getId()}">-->
            <!--          <button>Rezerwuj</button>-->
            <!--        </a>-->
            <!--      </td>-->
        </tr>
        </tbody>
    </table>
</div>

<!-- Komunikat o braku wyników -->
<div th:if="${#lists.isEmpty(roomPrices)}">
    <p>dasdasdas.</p>

    <form th:action="@{/clientpanel/create}" method="post" th:object="${request}">
        <input type="hidden" name="animalId" th:value="${animal.getId()}" />
        <input type="hidden" name="roomId" th:value="${room.getId()}" />
        <input type="hidden" name="startDate" th:value="${reservationStartDate}" />
        <input type="hidden" name="endDate" th:value="${reservationEndDate}" />
        <button>rezerwuj</button>
    </form>
</div>

<button onclick="location.href='/clientpanel'">Wróc</button>

</body>
</html>


</body>
</html>