<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles.css">
<head>
    <meta charset="UTF-8"/>
    <title>Edycja Pokoju Niedozwolona</title>
</head>
<div id="form-container">
<body>

<h2>Edycja Pokoju Niedozwolona</h2>

<p>Nie możesz edytować pokoju, ponieważ ma obecne lub przyszłe rezerwacje.</p>
<div class="form-group section-button">
<button onclick="location.href='/adminpanel/allRooms'">Wróć do listy pokoi</button>
</div>
</body>
</div>

</body>
</html>